:root {
  --default-radius: 0.6rem;
}

body {
  height: 100vh;
  width: 100vw;
  background: #f4f5fc;
}

.uso_interno {
  /* height: 100vh; */
  /* margin-left: 4.5rem; */
  /* width: calc(100vw - 4.5rem); */
  width: 100vw;
  background-color: #f4f5fc;

  display: flex;
  flex-direction: row;
}

/* CONTEÚDO DENTRO DA PÁGINA */
#conteudo_uso_interno {
  margin-left: 4.5rem;
  padding: 1.5rem;
  width: 100%;
}

#conteudo_uso_interno #header {
  margin-bottom: 1rem;
}

#conteudo_uso_interno #content_page {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
