.employee {
  width: 500px;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  background: white;
  color: #828282;
}

.employee-part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-name {
  font-weight: 700;
  font-size: 20pt;
  color: #555555;
}

.employee-occupation {
  font-weight: 400;
  font-size: 14pt;
}

.employee-ramal {
  width: 175px;
  display: flex;
  justify-content: space-between;
}

.employee-ramal-box {
  display: flex;
  flex-direction: column;
}

.employee-ramal-type {
  font-size: 9pt;
  font-weight: 400;
}

.employee-ramal-fisico {
  background: #0d8b52;
  color: #ffffff;
  font-size: 20pt;
  font-weight: 700;
  padding: 2px 12px;
  border-radius: 10px;
}

.employee-ramal-ezcall {
  background: #f2f2f2;
  color: #546a7e;
  font-size: 20pt;
  font-weight: 700;
  padding: 2px 12px;
  border-radius: 10px;
}

.employee-line {
  height: 2px;
  border-width: 0;
  background-color: #f0f0f0;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.employee-part2 {
  display: flex;
  flex-direction: column;
}

.employee-contact {
  display: flex;
}

.employee-contact-icon {
  width: 20px;
  color: #555555;
  margin-right: 5px;
}